@import "~bootstrap/scss/bootstrap.scss";

.Board {
  display: flex;
  flex-wrap: wrap;
  width: 25rem;
  height: 31.25rem;
  justify-content: center;
  align-content: center;
}

.winMessage {
  width: 25rem;
  text-align: center;
  font-weight: 600;
  background-color: #E8EDF1;
  border-radius: 2rem;
}

.reset-btn {
  width: 8.125rem;
  color: white;
  background-color: #1F4E79;
}

.reset-btn:hover{
  width: 8.125rem;
  background-color: #E8EDF1;
}

.card {
  margin: 0.625rem 0.625rem;
  background-color: #E8EDF1;
  height: 6.875rem;
  width: 6.875rem;
  text-align: center;
  justify-content: center;
  font-size: 1.625rem;
  color: skyblue;
}

.playerX {
    font-weight: 700;
    border-radius: 2rem;
    color: #1F4E79;
}

.playerO {
  font-weight: 700;
  color: #1F4E79;
  border-radius: 2rem;
}

// * {
//   margin: 0;
//   padding: 0;
// }

body {
  background-color: #83b1d6;
}

.playground {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42.581rem;
  flex-direction: column;
  background-color: #83b1d6;
}

.heading {
  font-weight: 700;
  color: #1F4E79;
  text-align: center;
}
